<h2>Countries</h2>
<span class="add-country-button btn btn-primary" (click)="createNewCountry()">add country</span>
<div class="countrycontainer">
  <ul class="countrylist">
    <li
      *ngFor="let country of countries"
      (click)="selectCountry(country)"
      [class.selected]="country == selectedCountry"
    >
      {{country.name}} -
      <em>{{country.allegiance | allegianceName}}</em>
      &nbsp;
      <span *ngIf="country.ipc">{{country.ipc}} <i class="fas fa-cogs"></i>&nbsp;</span>
      <span *ngIf="country.industry_size">({{country.industry_size}} <i class="fas fa-industry"></i>)&nbsp;</span>
      <span *ngIf="country.has_airfield"><i class="fas fa-plane"></i>&nbsp;</span>
      <span *ngIf="country.has_seaport"><i class="fas fa-anchor"></i>&nbsp;</span>
      <span *ngIf="country.garrison">({{country.garrison}} <i class="fas fa-male"></i>)&nbsp;</span>
      <span *ngIf="country.hasCapital"><i class="fas fa-star"></i>&nbsp;</span>
    </li>
  </ul>
  <div class="country" *ngIf="selectedCountry">
    <h3>{{selectCountry.name}}</h3>
    <dl>
      <dt>Id</dt>
      <dd>{{selectedCountry.id}}</dd>
      <dt>Name</dt>
      <dd><input type="text" [(ngModel)]="selectedCountry.name"></dd>
      <dt>IPC Value</dt>
      <dd>
        <input type="number" [(ngModel)]="selectedCountry.ipc">
        <span class="btn btn-info" (click)="selectedIPCPlus()">+</span>
        <span class="btn btn-info" (click)="selectedIPCMinus()">-</span>
        <span class="btn btn-info" *ngFor="let num of [0,1,2,3,4,5,6,7,8,9,10]" (click)="setIPC(num)" [class.active]="selectedCountry.ipc == num">{{num}}</span>
      </dd>
      <dt>Allegiance (start)</dt>
      <dd class="allegiance-selector">
        <span class="btn btn-secondary" (click)="setAllegiance('pro-axis')" [class.active]="'pro-axis' == selectedCountry.allegiance">Pro-Axis</span>
        <span class="btn btn-secondary" (click)="setAllegiance('pro-allies')" [class.active]="'pro-allies' == selectedCountry.allegiance">Pro-Allies</span>
        <span class="btn btn-secondary" (click)="setAllegiance('strict')" [class.active]="'strict' == selectedCountry.allegiance">Strict neutral</span>
        <span class="btn btn-secondary" *ngFor="let nation of nations" (click)="setAllegiance(nation.name)" [class.active]="nation.name == selectedCountry.allegiance.name">{{nation.name}}</span>
      </dd>
      <dt>Levy size (start)</dt>
      <dd>
        <input type="number" [(ngModel)]="selectedCountry.garrison">
        <span class="btn btn-info" *ngFor="let num of [0,1,2,3,4,5,6]" (click)="setGarrison(num)" [class.active]="selectedCountry.garrison == num">{{num}}</span>
      </dd>
      <dt>Has Airfield</dt>
      <dd>
          <span class="btn btn-secondary" (click)="setAirfield(true)" [class.active]="selectedCountry.has_airfield">Yes</span>
          <span class="btn btn-secondary" (click)="setAirfield(false)" [class.active]="!selectedCountry.has_airfield">No</span>
      </dd>
      <dt>Has Seaport</dt>
      <dd>
          <span class="btn btn-secondary" (click)="setSeaport(true)" [class.active]="selectedCountry.has_seaport">Yes</span>
          <span class="btn btn-secondary" (click)="setSeaport(false)" [class.active]="!selectedCountry.has_seaport">No</span>
      </dd>
      <dt>Industry Size</dt>
      <dd>
          <span class="btn btn-info" *ngFor="let num of [0,3,10]" (click)="setIndustry(num)" [class.active]="selectedCountry.industry_size == num">{{num}}</span>
      </dd>
      <dt>Has Capital</dt>
      <dd>
          <span class="btn btn-secondary" (click)="setCapital(true)" [class.active]="selectedCountry.hasCapital">Yes</span>
          <span class="btn btn-secondary" (click)="setCapital(false)" [class.active]="!selectedCountry.hasCapital">No</span>
      </dd>
      <dt>Game Region (grouping)</dt>
      <dd>
        <span class="btn btn-secondary"
          *ngFor="let region of [ 'Europe', 'North America', 'South Africa', 'North Africa', 'South Africa', 'West Russia', 'East Russia / Mongolia', 'China', 'West Asia', 'East Asia', 'Oceania / Pacific' ]"
          (click)="setRegion(region)"
          [class.active]="region == selectedCountry.gameRegion">
          {{region}}
        </span>
      </dd>
      <dt>Theatre</dt>
      <dd>
          <span class="btn btn-secondary" (click)="setTheatre('Europe')" [class.active]="'Europe' == selectedCountry.theatre">Europe</span>
          <span class="btn btn-secondary" (click)="setTheatre('Pacific')" [class.active]="'Pacific' == selectedCountry.theatre">Pacific</span>
      </dd>
    </dl>
  </div>
</div>
