.columns
{
  display: flex;
}

.column
{
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
}

.column + .column
{
  margin-left: 5px;
}

.column > h3
{
  white-space: nowrap;
  min-width: 240px;
}

.countries
{
  /* flex: 1; */
  /* min-height: 200px; */
}

.country
{
  border: #dddddd 2px solid;
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 5px;
}

.country + .country
{
  margin-top: 5px;
}

.country > h5
{
  font-size: 1.1em;
}
.country > h5 > .small
{
  font-size: 0.5;
}

.countrycontents
{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.buildings
{
  align-self: flex-end;
  display: flex;
}
