<h2>Active game</h2>

<div class="spinner" *ngIf="loadCounter">
    <i class="fas fa-spinner fa-spin"></i>
</div>

<div class="gamecontents" *ngIf="!loadCounter">
  <div class="columns">
    <div class="column" *ngFor="let column of columnValues" dnd-droppable (onDropSuccess)="simpleDrop($event, column.name)">
      <h3>{{column.name}} - {{column.totalIPC}} <i class="fas fa-cogs"></i></h3>
      <div class="theatre" *ngFor="let theatre of [ 'Europe', 'Pacific' ]">
        <h4>{{theatre}}</h4>
        <div class="countries">
          <div class="country" *ngFor="let country of (column.theatres.groups[theatre] | orderCountries)" dnd-draggable [dragEnabled]="true" [dragData]="country.id">
            <h5>{{country.name}} <span *ngIf="country.hasCapital"><i class="fas fa-star"></i>&nbsp;</span> <span class="small">{{country.gameRegion}}</span></h5>
            <div class="countrycontents">
                <span *ngIf="country.ipc">{{country.ipc}}&nbsp;<i class="fas fa-cogs"></i>&nbsp;</span>
                <span *ngIf="country.currentGarrison">{{country.currentGarrison}} <i class="fas fa-male"></i>&nbsp;</span>
                <span class="dummy"></span>
                <div class="buildings">
                    <app-building [building]="country.industry" [stages]="[ 3, 10 ]"></app-building>
                    <app-building [building]="country.airfield"></app-building>
                    <app-building [building]="country.seaport"></app-building>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
