.top-container
{
  margin-bottom: 10px;
}

.game-info
{
  width: 600px;
}

.columns
{
  display: flex;
}

.column
{
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.column + .column
{
  margin-left: 5px;
}

.column:nth-child(2n)
{
  background-color: #f6f6f6;
}

.column > h3
{
  white-space: nowrap;
  min-width: 240px;
}

.column.current-turn
{
  background-color: #a9c1c4;
}

.countries
{
  /* flex: 1; */
  /* min-height: 200px; */
}

.country
{
  border: #dddddd 2px solid;
  background-color: #eeeeee;
  border-radius: 5px;
  padding: 5px;
}

.country + .country
{
  margin-top: 5px;
}

.country > h5
{
  font-size: 1.1em;
}
.country > h5 > .small
{
  font-size: 0.5;
}

.countrycontents
{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.countrycontents > :not(.buildings)
{
  line-height: 30px;
}

.buildings
{
  align-self: flex-end;
  display: flex;
}

.column-balance .small
{
  display: inline-block;
  margin-left: 5px;
  font-size: .6em;
}
